.follow-page
  = render 'shared/nav_bar'
  .follow-body
    - if params[:follow] == 'followers'
      .title
        Followers
      .lists
        - if @follows.empty?
          No followers
        - else
          = render partial: 'shared/follow', collection: @follows
    - elsif params[:follow] == nil
      .title
        Following
      .lists
        - if @follows.empty?
          No following
        - else
          = render partial: 'shared/follow', collection: @follows
          
  = render "shared/side_bar"
        


