%h1 Notifications

= render 'shared/nav_bar'

%h1 Mentions
- if @posts != nil
  - @posts.each do |post|
    ============================================
    .post-field 
      %writter
        by: 
        %strong
          = link_to post.user.username, user_path(post.user)
          >>>>
      .message
        = raw post.message
- else
  No tweets with mention
