.user-block
  .avatar-profile 
    = link_to user_path(follow), class: "link-profile" do
      = image_tag "avatar_profile.png" , class: "avatar"
  .user-link
    = link_to follow.username, user_path(follow), class: "user"
