@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 8px,
  ratio: 1.4,
  for_padding_margin: (
    base: 8px,
    ratio: 1.5
  ),
);

$body-color: rgb(21, 32, 43);
$body-color2: rgb(25, 38, 51);
$color:  white;
$color2:rgb(136, 153, 166);
$color3: rgb(138, 20, 20);
$twitter-theme: rgb(29,161,242);

$title-font1: sans-serif;
$text-font1: arial;
