%h1 Edit Tweet

= render 'layouts/nav_bar'

.tweet-block
  = form_with model: @post, url: user_post_path(@post), html: {class: "form-tweet"} do |f|
    .fields 
      = f.text_area :message    
    .submit-button
      = f.submit 'tweet', class: 'button'
