.post-field 
  %td 
    by: 
    %strong
      = link_to posts.user.username, user_path(posts.user)
      >>>>
  %td
    = posts.message
  %td
  = link_to 'Show', user_post_path(posts.user, posts)
  - if posts.user == current_user
    %td
      = link_to 'Delete', user_post_path(posts.user, posts), method: :delete

